PORT=4000
CLIENT_URL=http://localhost:5173

MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_USER=kotov.aleksandr.9797@mail.ru
MAIL_PASSWORD=my_mail_ru_external_app_password
MAIL_FROM=kotov.aleksandr.9797@mail.ru
MAIL_TO=kotov.aleksandr.9797@mail.ru